{
	"root": true,
	"env": {
		"browser": true,
		"es2022": true,
		"worker": true,
		"serviceworker": true
	},
	"globals": {
		"drawingArea": "writable",
		"drawingAreaContext": "readonly"
	},
	"parserOptions": {
		"ecmaVersion": 13,
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true
		}
	},
	"plugins": [],
	"extends": ["eslint:recommended", "prettier"],
	"rules": {
		"no-unused-vars": "off"
	},
	"noInlineConfig": true
}
