{
	"printWidth": 80,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"overrides": [
		{
			"files": "**/*.test.js",
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		}
	],
	"editorconfig": true
}
