* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    outline: 3rem solid black;
}

#memeInputSection {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}